<a href="https://colab.research.google.com/github/nanavieira/psc/blob/main/Exerc%C3%ADcios_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1#**

In [ ]:
nome = input('Informe seu nome: ')
idade = int(input('Informe sua idade: '))
peso = float(input('Informe seu peso: '))
altura = float(input('Informe sua altura: '))

Informe seu nome: anna
Informe sua idade: 19
Informe seu peso: 61
Informe sua altura: 1.69

In [ ]:
if idade > 18 and peso >= 60 and altura >= 1.70:
  print('Você está apto para servir o exército')
else:
   print('Você não está apto para servir o exército')

Você não está apto para servir o exército

# **2#**

In [ ]:
texto = input("Digite uma frase: ")
textox = texto.replace(' ', '') #tirar os espaços
texto_inverso = texto [::-1]

print("A frase escrita inversamente é: ",texto_inverso)

Digite uma frase: anotaram a data da maratona
A frase escrita inversamente é:  anotaram ad atad a maratona

# **3#**

In [ ]:
dias = float(input("Digite quantos dias: "))
horas = float(input("Digite quantas horas: "))
minutos = float(input("Digite quantos minutos: "))

Digite quantos dias: 1
Digite quantas horas: 1
Digite quantos minutos: 1

In [ ]:
diasx = dias*86400
horasx = horas*3600
minutosx = minutos*60

total = diasx + horasx + minutosx


print("O total desse valor é igual a %1d segundos." % total)

O total desse valor é igual a 90060 segundos.

# **4#**

In [ ]:
distancia = int(input("Digite a distância do seu destino em km: "))
velocidade = int(input("Digite a velocidade média esperada para a viagem: "))

tempo = distancia/velocidade

print("A viagem será realizada em", tempo, "horas")

Digite a distância do seu destino em km: 50
Digite a velocidade média esperada para a viagem: 30
A viagem será realizada em 1.6666666666666667 horas

# **5#**

In [ ]:
velocidade = int(input("Insira o valor da velocidade do carro em km: "))

multa = (velocidade - 80) * 5

if velocidade > 80:
  print("O usuário foi multado. Valor da multa:", multa)

Insira o valor da velocidade do carro em km: 90
O usuário foi multado. Valor da multa: 50

# **6#**

In [ ]:
valor_casa = int(input("Insira o valor do imovel desejado: "))
salario = int(input("Insira o valor de seu salário: "))
anos = int(input("Digite a quantidade de anos a pagar: "))

prestaçao = valor_casa/(anos*12)
print("O valor da prestação mensal é: ",prestaçao)

if prestaçao < salario*0.03:
  print("O empréstimo bancário foi aprovado!")
else: 
  print("O empréstimo bancário não foi aprovado.")

Insira o valor do imovel desejado: 1000000
Insira o valor de seu salário: 15000
Digite a quantidade de anos a pagar: 10
O valor da prestação mensal é:  8333.333333333334
O empréstimo bancário não foi aprovado.

# **7#**

In [ ]:
num = int(input("Digite um número para ver sua tabuada: "))


print(" Tabuada do ",num,":\n") 
for i in range(1,11):
  print(num," X ",i," = ",num*i, "\n")

Digite um número para ver sua tabuada: 10
 Tabuada do  10 :

10  X  1  =  10

10  X  2  =  20

10  X  3  =  30

10  X  4  =  40

10  X  5  =  50

10  X  6  =  60

10  X  7  =  70

10  X  8  =  80

10  X  9  =  90

10  X  10  =  100

# **8#**

In [ ]:
num_1 = int(input("Insira um número: "))
num_2 = int(input("Insira outro número: "))

quociente = 0
x = num_1
while x >= num_2:
    x = x - num_2
    quociente = quociente + 1
resto = x

print(f"O resto de {num_1}/{num_2} é {resto}")

Insira um número: 10
Insira outro número: 9
O resto de 10/9 é 1

# **9#**

In [ ]:
lado_1 = int(input('Insira o valor do lado de um triangulo: '))
lado_2 = int(input('Insira o valor do lado de um triangulo: '))
lado_3 = int(input('Insira o valor do lado de um triangulo: '))

if lado_1==lado_2==lado_3:
  print("O triangulo é equilátero.")
elif lado_1==lado_2 or lado_1==lado_3 or lado_2==lado_3:
  print("O triangulo é isósceles.")
else: 
  print("O triangulo é escaleno.")

Insira o valor do lado de um triangulo: 10
Insira o valor do lado de um triangulo: 20
Insira o valor do lado de um triangulo: 30
O triangulo é escaleno.

# **10#**

In [ ]:
num = int(input("Insira um número inteiro: "))
invertido = int(str(num)[::-1])
print(invertido)

Insira um número inteiro: 125
521

# **11#**

In [58]:
def Check_Vow(string, vowels): 
  final = [each for each in string if each in vowels]
  print(len(final))
  print(final)
string = input("Insira uma palavra: ")
vowels = "AaEeIiOoUu"
Check_Vow(string, vowels);

Insira uma palavra: palavra
3
['a', 'a', 'a']

# **12#**

In [43]:
import random
from collections import Counter

numeros = random.choices(range(11), k=10)
print(f'Os numeros gerados foram: {numeros}')

frequencias = Counter(numeros).most_common()
mais_frequente = frequencias[0]
print(f'O número que ocorre mais vezes é {mais_frequente[0]}, ocorrendo {mais_frequente[1]} vezes')

Os numeros gerados foram: [2, 2, 6, 6, 10, 7, 7, 6, 0, 10]
O número que ocorre mais vezes é 6, ocorrendo 3 vezes

# **13#**

In [46]:
palavra = input("Digite uma palavra: ")

inverso = palavra [::-1]

print("A frase escrita inversamente é:",inverso)
if palavra == inverso:
  print("A palavra", palavra, "é um palíndromo.")
else:
  print("A palavra", palavra, "não  é um palíndromo.")

Digite uma palavra: ovo
A frase escrita inversamente é: ovo
A palavra ovo é um palíndromo.